* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  list-style: none;
  font-family: Montserrat;
}
.container {
  width: 1440px;
  height: 852px;
  background: url(img/bg1.svg) no-repeat center;
}
header {
  width: 1440px;
  height: 8px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header-title {
  padding: 20px;
  width: 86px;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
  text-decoration: none;
}
.header-menu {
  width: 60px;
  height: 30px;
  background: url(img/btn.svg) no-repeat center;
}

.container-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container-text__title {
  width: 991px;
  height: 183px;
  font-size: 150px;
  font-weight: 400;
  line-height: 183px;
  letter-spacing: 0.3em;
  margin-top: 306px;
  color: white;
}
.container-text__info {
  width: 405px;
  height: 34px;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.2em;
  color: white;
  padding-top: 70px;
}

/* middle */

.content-info {
  width: 1440px;
  height: 740px;
  background-color: black;
  display: flex;
}
/* .content-info__text {
  float: left;
} */
.text-theme {
  width: 332px;
  height: 49px;
  padding-top: 116px;
  margin-left: 188px;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
}
.text-description {
  width: 348px;
  height: 286px;
  padding-top: 73px;
  margin-left: 188px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
}
.content-info__images {
  /* float: right; */
  padding-top: 116px;
  /* padding-right: 156px; */
  padding-left: 156px;
}
.images {
  width: 591px;
  height: 457px;
  display: grid;
  grid-template-columns: 240px 326px;
  grid-template-rows: 186px 249px;
  column-gap: 25px;
  row-gap: 22px;
  position: relative;
}
.img-1 {
  position: absolute;
  width: 240px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.img-2 {
  position: absolute;
  width: 240px;
  grid-row: 2/3;
}
.img-3 {
  position: absolute;
  grid-column: 2/3;
  grid-row: 1/3;
}

/* section-subscribe */

/* .section-subscribe {
  width: 1440px;
  height: 625px;
  background: url(img/bg2.svg) no-repeat center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
} */
form {
  width: 1440px;
  height: 625px;
  background: url(img/bg2.svg) no-repeat center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.subscribe {
  height: 49px;
  width: 234px;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  margin-top: 92px;
}
.subscribe-section__text {
  height: 110px;
  width: 721px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
}

input[type='email'] {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 335px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-align: center;
  padding-bottom: 30px;
}
input:focus {
  outline: none;
}

.section-subscribe__btn {
  height: 64px;
  width: 335px;
  box-shadow: 0px 0px 50px 5px #813434;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 114px;
  background-color: black;
  color: white;
}

/* footer */

.footer {
  height: 89px;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  flex-direction: row;
  align-items: center;
}
.footer-nav__icons {
  list-style: none;
}
.footer-nav__icons .footer-icons__insta {
  background: url(img/facebook.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.footer-nav__icons .footer-icons__fb {
  background: url(img/insta.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.footer-nav__icons .footer-icons__twitter {
  background: url(img/twitter.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.footer-nav__icons {
  display: flex;
}
.footer-name {
  font-size: 28px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
}
.footer-email__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
  text-decoration: none;
}
